
#common-div {
    padding: 1em;
}

span.apexcharts-legend-marker[rel="1"] {
    background-color: #5dc83c !important;
    border-color: #5dc83c !important;
    color: #5dc83c !important;
}

span.apexcharts-legend-marker[rel="2"] {
    background-color: #ee0130 !important;
    border-color: #ee0130 !important;
    color: #ee0130 !important;
}

span.apexcharts-legend-marker[rel="3"] {
    background-color: #fd9c2d !important;
    border-color: #fd9c2d !important;
    color: #fd9c2d !important;
}

#select-or-create {
    background-color: var(--lumo-shade-20pct);
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}

#select-or-create #field {
    margin-left: 15px;
    padding: 0px;
}